<h3 style="text-align:center; margin-bottom:30px; color: rgb(187, 106, 0);"> Q: Let's do this in a Q&A format</h3>
<h3 style="text-align:center; margin-bottom:30px; color: rgba(0,101,128,1.0000000000);"> A: Ok, let's go!</h3>

Q: _Who are you?_ <br> A: I'm Giuseppe Saccardi, graduate in **Mathematics for Life and Data Sciences** at the **University of Trento**. Further, I am an AI/ML enthusiast, always guided by a strong willpower to learn!
<br> <br> 
Q: _What do you do at the moment?_ <br> A: Currently, I am involved in the role of **Data Scientist** at <a href="https://www.kebula.it/">Kebula</a>,  that is, an innovative startup, spin-off of the **University of Salerno** in collaboration with <a href="https://www.kineton.it/en/home-en/">Kineton</a>!
<br> <br> 
Q: _Can you say something more about it?_ <br> A: Of course! Kebula is a fast-growing company specialized in solving Data Engineering and Analytics real-world-problems using modern AI tools!
<br> <br> 
Q: _What are your plans for the future?_ <br> A: I'm always looking forward for new challenges and experiences! I'm planning to start a PhD program on **Deep Learning** and Energy-Based methods!
<br><br>
Q: _Can you list some activities you are interested in?_ <br> A: In my free-time I love walking in nature, listening to Podcasts about tech, culture and news.  I really enjoy spending time with my folks and visiting new places! 


<p style="text-align:center;"> Do you want to get in touch with me? Feel free to send me an email at:<br> </p>
<p style="text-align:center; background-color:rgba(0,0,0,0.06); border: 1px solid rgb(222, 222, 222); padding:10px; font-family:monospace">print "<strong>giuseppe.saccardi</strong> AT <strong>kebula.it</strong>".replace(' AT ','@') </p>

<style type="text/css">
    i.iconpad{ margin: 15px; }
    i.plus{font-size: 27px}
</style>


<div style="text-align: center;">
	<a href="https://www.linkedin.com/in/giuseppesaccardimathndata/" title="Giuseppe on LinkedIn" target="_blank">
	   <i class="icon icon-social-linkedin iconpad plus"></i>
	   </a>

	 <a href="https://twitter.com/GiuseppeSaccar3" title="Giuseppe on Twitter" target="_blank">
	 <i class="icon icon-social-twitter iconpad plus"></i>
	  </a>

	 <a href="https://github.com/peppesaccardi" title="Giuseppe on GitHub" target="_blank">
	 <i class="icon icon-social-github iconpad plus"></i>
	  </a>
</div>

[instagram]: 		https://instagram.com/peppe_sacc/
[twitter]:			https://twitter.com/GiuseppeSaccard3
[linkedin]:		  https://it.linkedin.com/in/giuseppesaccardimathndata
