<h1 class="title">{{site.skills_title}}</h1>
<p class="subtitle">
  Have a look also at my
  <a class="highlight-link" href="{{site.certifications_link}}" target="_blank" rel="noreferrer">
    certifications
  </a>!
</p>


<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">Hard</label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">Soft</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Linguistic</label>

  {% for language in site.data.skills-languages %}
    <div skill-type="language" skill-weight="{{language.weight}}" data-aos="zoom-in">
      {{language.name}}
    </div>
  {% endfor %}
  {% for framework in site.data.skills-frameworks %}
    <div skill-type="framework" skill-weight="{{framework.weight}}" data-aos="zoom-in">
      {{framework.name}}
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">
      {{tool.name}}
    </div>
  {% endfor %}
</div>
